.envelop{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(250,250,250);
    border-bottom: 1px #eee solid;
    height: 80px;
}
.div-1{
    cursor: pointer;
}
.div-2{
    align-items: center;
    display: flex;
}
.div-3{
    margin-left: 40px;
    padding-top: 9px;
}
.logo{
    width: 260px;
    height: 70px;
}

.input{
    width: 558px;
    height: 48px;
    font-size: 18px;
    font-family: sans-serif;
}

.but{
    background-color: rgb(230,230,230);
    padding: 0 16px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: rgb(117,117,117);
    font-size: 13px;
    font-weight: bold;
    display: block;
    cursor: pointer;
}

.results-cnotainer{
    width: 70% !important;
    margin-left: 10% !important;
    min-height: calc(100vh - 80px);
}

.counter{
    margin-top: 20px;
    font-size: 13px;
    color: rgb(128,128,128);
}

.original-position{
    font-family: arial;
    font-size: 22px;
    color: #000;
}

.title {
    font-size: 18px;
    color: rgb(26,13,171);
    line-height: 22px;
    text-decoration: none;
}

.url {
    font-size: 14px;
    color: rgb(0, 102, 33);
    line-height: 16px;
    white-space: nowrap;
    margin-top: -2px;
}

.content {
    font-size: 13px;
    color: rgb(84,84,84);
    line-height: 18.2px;
    margin-top: 1px;
}

.result-div{
    margin-top: 30px;
    font-family: Arial, sans-serif;
}
.main-logo{
    width: 230px;
    position: relative;
    bottom: 40px;
    padding-left: 2rem;
    padding-right: 2rem;
}

@media only screen and (max-width: 768px) {
    .envelop{
        flex-wrap: wrap;
        display: flex;
        height: 205px;
    }
    .logo{
        width: 129px;
        height: 58px;
        margin: 7px;
    }
    .input{
        width: 170px;
        margin-left: 10px;
    }
    .div-3{
        margin: auto;
    }
    .url{
        display: block;
        width: 100%;
        word-wrap: break-word;
        white-space: unset;
    }
    .div-1{
        position: relative;
        bottom: -45px;
        margin: auto;
    }
    .but{
        margin-bottom: 6px;
    }
}
