main{
    background: #ededed;
    text-align: center;
    height: 100%;
}

.logo-div{
    padding-top: 212px;
    display: flex;
    flex-direction: column;
}

.logo{
    width: 430px;
    display: block;
    margin: auto;
    height: 150px;
}

.logo-slogan{
    width: 20%;
    margin: auto;
    position: relative;
    left: 222px;
    bottom: 19px;
    color: #f27a7a;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
}

.input{
    width: 365px;
    height: 42px;
    padding-left: 1rem;
    border: solid 1px lightgray;
    font-size: 18px;
    font-family: sans-serif;
}

.search-icon{
    width: 46px;
    position: relative;
    right: 52px;
    top: 17px;
    cursor: pointer;
}

.result-div{
    margin-top: 37.8px;
}

.result-span{
    color: #707dd3;
    visibility: hidden;
}

.result-inside{
    color: #85d7d4;
}

@media only screen and (max-width: 600px) {
    .logo-div{
        padding-top: 80px;
    }
    .logo{
        width: 265px;
    }
    .logo-slogan{
        width: 52%;
        margin: auto;
        position: relative;
        left: 72px;
        bottom: 28px;
        font-size: 11px;
    }
    .input{
        display: block;
        width: 78%;
        margin: auto;
        height: 42px;
    }
    .search-icon{
        width: 41px;
        position: relative;
        right: -113px;
        top: -46px;
    }
  }