header{
  padding-top: 58px;
  padding-left: 57px;
}

.small-logo{
  width: 52px;
  height: 32px;
}

.main-logo-div{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-logo{
  margin-top: 306px;
}

.input{
  width: 596px;
  margin-top: 75px;
  height: 52px;
  border-left: none;
  border-right: none;
  border-top: none;
  height: 52px;
  border-bottom: 1px solid darkgrey;
  font-size: 25px;
  color: #4C4C4C;	
  font-family: "Open Sans";	
  letter-spacing: 2px;
  padding-left: 5px;
}
 
.search-icon{
  width: 28px;
  height: 25px;
  position: relative;
  right: 29px;
  top: 9px;
  cursor: pointer;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  height: 18px;	
  width: 206px;	
  color: #4C4C4C;	
  font-family: "Open Sans";	
  font-size: 25px;	
  font-weight: 300;	
  line-height: 0;
  padding-top: 10px;
  letter-spacing: 2px;
  padding-left: 5px;
}
::-moz-placeholder { /* Firefox 19+ */
  height: 18px;	
  width: 206px;	
  color: #4C4C4C;	
  font-family: "Open Sans";	
  font-size: 25px;	
  font-weight: 300;	
  line-height: 0;
  padding-top: 10px;
  letter-spacing: 2px;
  padding-left: 5px;
}
:-ms-input-placeholder { /* IE 10+ */
  height: 18px;	
  width: 206px;	
  color: #4C4C4C;	
  font-family: "Open Sans";	
  font-size: 25px;	
  font-weight: 300;	
  line-height: 0;
  padding-top: 10px;
  letter-spacing: 2px;
  padding-left: 5px;
}
:-moz-placeholder { /* Firefox 18- */
  height: 18px;	
  width: 206px;	
  color: #4C4C4C;	
  font-family: "Open Sans";	
  font-size: 25px;	
  font-weight: 300;	
  line-height: 0;
  padding-top: 10px;
  letter-spacing: 2px;
  padding-left: 5px;
}

@media only screen and (max-width: 600px) {
  .main-logo{
    width: 85%;
    margin-top: 150px;
  }
  .input{
    width: 90%;
  }
  .search-icon{
    right: -10px;
    top: 95px;
  }
  .input-div{
    display: flex;
  }

}