<div class="envelop">
  <div class="div-1">
    <img class="img" src="/assets/pics.png">
  </div>
  <div class="div-2">
    <h3 class="about">About us</h3>
    <div>test</div>
    <p class="p-1">Shmoogle is a rank free search  engine empowering people to make their own choices by giving equal chance to every result. Because in Shmoogle we believe in Human intelligence: Your intelligence.</p>
    <p class="p-2">Slow search.<br>Healthier, more balanced, pensive, meditative, and fulfilling experience of life. We care about the search, not about the rank. We encourage exploratory search, not algorithmic consumption.</p>
  </div>
</div>